################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*~
*.userprefs
*.suo
.DS_Store
test-results
packages
obj
bin
Resource.designer.cs
